<html>
<head>
    <script src="bundle.js"></script>
</head>
<body>

<div id="root">
    <SubscribeForm>
        {% include 'src/SubscribeForm/SubscribeFormTemplate.twig' with {
            firstName_args: ' value="123"',
            lastName_args: ' value="123"',
            email_args: ' value="123"'
        } %}
    </SubscribeForm>
</div>

</body>
</html>
