<html>
<head>
    <script src="bundle.js"></script>
</head>
<body>
{% include 'src/SubscribeFormTemplate.twig' with {label: '123' } %}

<div id="root">
    <NameForm></NameForm>
</div>

</body>
</html>
