<html>
<head>
    <script src="bundle.js"></script>
</head>
<body>

<div id="root">
    <SubscribeForm>
        {% include 'src/SubscribeFormTemplate.twig' with {label: '123' } %}
    </SubscribeForm>
</div>

</body>
</html>
