<div data-controller="SubscribeForm">
    <form>
        LastName: <input placeholder="firstName" type="text" data-bind="value: firstName, event: {blur: blur}"
                         value="{{ label }}"><br>
        FirstName: <input placeholder="lastName" type="text" data-bind="value: lastName, event: {blur: blur}"
                          value="{{ label }}"><br>
        E-Mail: <input placeholder="email" type="text" data-bind="value: email, event: {blur: blur}"
                       value="{{ label }}"><br>
        <button data-bind="click: submit, enable: enabled" disabled>Subscribe Already!</button>
    </form>
</div>
