<div id="liveclock" class="outer_face" data-controller="AnalogClock" data-showMs="{{showMs}}">
    <div class="marker oneseven"></div>
    <div class="marker twoeight"></div>
    <div class="marker fourten"></div>
    <div class="marker fiveeleven"></div>

    <div class="inner_face">
        <div data-bind="style: {transform: 'rotate('+hourDegreesN()+'deg)'}" class="hand hour"></div>
        <div data-bind="style: {transform: 'rotate('+minuteDegreesN()+'deg)'}" class="hand minute"></div>
        <div data-bind="style: {transform: 'rotate('+secondDegreesN()+'deg)'}" class="hand second"></div>
    </div>
</div>
