<div data-controller="SubscribeForm">
    <form>
        LastName: <input placeholder="firstName" type="text" data-bind="value: firstName"
                         value="{{ label }}"><br>
        FirstName: <input placeholder="lastName" type="text" data-bind="value: lastName"
                          value="{{ label }}"><br>
        E-Mail: <input placeholder="email" type="text" data-bind="value: email"
                       value="{{ label }}"><br>
        <button data-bind="click: event('submit'), enable: enabled" disabled>Subscribe Already!</button>
    </form>
</div>
